body {
    background-color: black;
    color: white;
  }
  
  .terminal {
    font-family: monospace;
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    background-color: black;
    border: 1px solid white;
  }
  
  .terminal-header {
    background-color: #222;
    color: white;
    padding: 5px;
  }
  
  .terminal-title {
    font-weight: bold;
  }
  
  .terminal-body {
    padding: 10px;
  }
  
  .command-line {
    display: flex;
    align-items: center;
  }
  
  .prompt {
    color: green;
    margin-right: 5px;
  }
  
  .command-input {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
  }
  .output p {
    color: #00ff00; /* Green */
  }
  .output {
    margin-top: 10px;
  }
  
  .matrix-image {
    width: 100%; /* Set the image width to 100% of its container */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 0; /* Place the image at the top of the screen */
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
  }
  
  /* Use media queries to adjust the image for different screen sizes */
  @media screen and (min-width: 768px) {
    /* For screens with a minimum width of 768px (e.g., tablets and desktops) */
    .matrix-image {
      width: 150px; /* Adjust the width as needed for larger screens */
      left: 170px; /* Adjust the left position as needed for larger screens */
      top: 50px; /* Adjust the top position as needed for larger screens */
      transform: none; /* Remove the horizontal centering on larger screens */
    }
  }