body {
    background-color: black;
    color: white;
  }
  
  .terminal {
    font-family: monospace;
    width: 90%;
    max-width: 800px;
    margin: 200px auto 50px; /* Adjust margin to make space for the image */
    background-color: black;
    border: 1px solid white;
  }
  
  .terminal-header {
    background-color: #222;
    color: white;
    padding: 5px;
  }
  
  .terminal-title {
    font-weight: bold;
  }
  
  .terminal-body {
    padding: 10px;
  }
  
  .command-line {
    display: flex;
    align-items: center;
  }
  
  .prompt {
    color: green;
    margin-right: 5px;
  }
  
  .command-input {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
  }
  .output p {
    color: #00ff00; /* Green */
  }
  .output {
    margin-top: 10px;
  }
  
  .matrix-image {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Center the image horizontally */
    top: 10px; /* Adjust the top position to move the image above the terminal */
  }

  footer {
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  @media screen and (max-width: 767px) {
    /* Footer styles for mobile screens */
    footer {
      background-color: transparent; /* Transparent background for mobile */
      padding: 10px 0;
      position: relative;
      width: 100%;
    }
  }