body {
    background-color: black;
    color: white;
  }
  
  .terminal {
    font-family: monospace;
    width: 90%;
    max-width: 800px;
    margin: 0 auto; /* Center the terminal horizontally on all screens */
    background-color: black;
    border: 1px solid white;
  }
  
  .terminal-header {
    background-color: #222;
    color: white;
    padding: 5px;
  }
  
  .terminal-title {
    font-weight: bold;
  }
  
  .terminal-body {
    padding: 10px;
  }
  
  .command-line {
    display: flex;
    align-items: center;
  }
  
  .prompt {
    color: green;
    margin-right: 5px;
  }
  
  .command-input {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
  }
  .output p {
    color: #00ff00; /* Green */
  }
  .output {
    margin-top: 10px;
  }
  
  .matrix-image {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Style for the mobile image container */
  .mobile-image {
    text-align: center; /* Center the image horizontally */
    display: block;
    margin: 0 auto; /* Center the container horizontally */
    width: 100%; /* Make the container full width */
    max-width: 150px; /* Limit the container width to the image width */
    position: relative;
    top: 0;
    left: 0;
  }
  
  /* Use media query to adjust the image for different screen sizes */
  @media screen and (min-width: 768px) {
    /* For screens with a minimum width of 768px (e.g., tablets and desktops) */
    .matrix-image {
      width: 150px; /* Adjust the width as needed for larger screens */
      left: 170px; /* Adjust the left position as needed for larger screens */
      top: 50px; /* Adjust the top position as needed for larger screens */
      transform: none; /* Remove the horizontal centering on larger screens */
    }
  
    /* Hide the mobile image container on larger screens */
    .mobile-image {
      display: none;
    }
  }